[Unit]
Description=Run Puppeteer

[Timer]
Unit=puppeteer-h.service
OnUnitActiveSec=7h
OnBootSec=10s
Persistent=true

[Install]
WantedBy=timers.target
